USE [master]
GO
/****** Object:  Database [HattabDB]    Script Date: 11/03/2026 09:24:58 ******/
CREATE DATABASE [HattabDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HattabDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\HattabDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HattabDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\HattabDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HattabDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HattabDB]
GO
/****** Object:  Table [dbo].[Branches_Tbl]    Script Date: 11/03/2026 09:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branches_Tbl](
	[BRANCH_ID] [numeric](15, 0) NOT NULL,
	[USER_CODE] [nvarchar](25) NOT NULL,
	[PRIMARY_NAME] [nvarchar](60) NOT NULL,
	[SECONDARY_NAME] [nvarchar](60) NULL,
	[TEL_NO1] [nvarchar](25) NULL,
	[TEL_NO2] [nvarchar](25) NULL,
	[TEL_NO3] [nvarchar](25) NULL,
	[FAX_NO1] [nvarchar](25) NULL,
	[FAX_NO2] [nvarchar](25) NULL,
	[FAX_NO3] [nvarchar](25) NULL,
	[ADDRESS_P] [nvarchar](100) NULL,
	[ADDRESS_S] [nvarchar](100) NULL,
	[COUNTRY] [numeric](15, 0) NULL,
	[CITY] [numeric](15, 0) NULL,
	[DESTINATION] [numeric](15, 0) NULL,
	[POSTAL_CODE] [nvarchar](10) NULL,
	[BARCODE_TEMPLETS_ID] [numeric](15, 0) NULL,
	[HORIZONTAL_MARGIN] [numeric](15, 0) NOT NULL,
	[VERTICAL_MARGIN] [numeric](15, 0) NOT NULL,
	[EMAIL] [nvarchar](100) NULL,
	[WEB_SITE] [nvarchar](100) NULL,
	[CREATED_BY] [nvarchar](25) NOT NULL,
	[CREATION_DATE] [date] NOT NULL,
	[CREATION_MACHINE] [nvarchar](25) NULL,
	[UPDATED_BY] [nvarchar](25) NULL,
	[UPDATED_DATE] [date] NULL,
	[UPDATED_MACHINE] [nvarchar](25) NULL,
	[LOGO] [image] NULL,
	[FRACTION_ROUND] [numeric](17, 5) NULL,
	[AUTO_PRINT_RECEIPT] [numeric](1, 0) NULL,
	[BRANCH_REGITER_NO] [nvarchar](10) NULL,
	[BRANCH_WORKING_FIELD] [numeric](15, 0) NULL,
	[BRANCH_WONER_NAME] [nvarchar](50) NULL,
	[BRANCH_WONER_ID_CARD] [nvarchar](15) NULL,
	[BRANCH_ELECTRIC_NO] [nvarchar](20) NULL,
	[MAIN_HR_BRANCH] [numeric](1, 0) NULL,
	[HR_BRANCH_ID] [numeric](15, 0) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITSRep_MasterTbl]    Script Date: 11/03/2026 09:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITSRep_MasterTbl](
	[Code] [nvarchar](25) NOT NULL,
	[Name] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Process_MasterTbl]    Script Date: 11/03/2026 09:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Process_MasterTbl](
	[Code] [nvarchar](25) NOT NULL,
	[Name] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTable]    Script Date: 11/03/2026 09:24:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTable](
	[EmpID] [varchar](10) NULL,
	[EmpName] [varchar](200) NULL,
	[EmpDesign] [varchar](150) NULL,
	[EmpProjID] [int] NULL,
	[EmpProjName] [varchar](200) NULL,
	[EmpMailID] [varchar](100) NULL,
	[EmpPassword] [varchar](100) NULL,
	[EmpSKMailID] [varchar](100) NULL,
	[EmpSKName] [varchar](100) NULL,
	[EmpRemarks] [varchar](300) NULL,
	[EmpStatus] [varchar](25) NULL,
	[Xpe_Proj_ID] [varchar](200) NULL,
	[Xpe_Proj_StoreID] [varchar](50) NULL,
	[ProcessStep] [nvarchar](50) NULL,
	[ProcessOrder] [int] NULL,
	[Reporting] [varchar](10) NULL,
	[SubReporting] [varchar](10) NULL,
	[XpeUser] [nvarchar](50) NULL,
	[ITSRep] [varchar](10) NULL,
	[MenuGroup] [varchar](10) NULL,
	[Mobile] [varchar](25) NULL,
	[FS_Folder] [nvarchar](50) NULL,
	[FS_UserLevel] [nvarchar](5) NULL,
	[FS_DEPT] [nvarchar](6) NULL
) ON [PRIMARY]
GO
USE [master]
GO
